In [1]:
import pandas as pd
import numpy as np

In [24]:
df = pd.DataFrame([['1',2,3,4],['5',6,'null',8]], columns=['a', 'b', 'c','d'])
df

   a  b     c  d
0  1  2     3  4
1  5  6  null  8

In [25]:
df.dropna()
df

   a  b     c  d
0  1  2     3  4
1  5  6  null  8

In [26]:
df[pd.isnull(df).any(axis=1)].head()

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [27]:
df['a'] = df['a'].map( {'1': 10, '5': 50} ).astype(int)
df

    a  b     c  d
0  10  2     3  4
1  50  6  null  8